@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-div #weather {
  position: absolute;
  top: 10px;
  right: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.header-div #weather span {
  margin-right: 10px;
}

#weather img {
  margin-right: 5px;
  filter: brightness(0) invert(1);
  width: 30px;
  height: 30px;
}

#logout {
  position: absolute;
  top: 10px;
  left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#logout button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
}

.main-div h2,
.main-div h1 {
  display: block;
  margin-bottom: 5px;
}

#clock {
  font-size: 90px;
  font-weight: 400;
}

#greeting {
  font-size: 35px;
}

#todo-form {
  margin: 30px 0 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form input {
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 25px;
  background-color: transparent;
  color: white;
}

.bottom-div {
  position: absolute;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
}

.bottom-div span {
  margin-bottom: 5px;
  font-size: 1;
  opacity: 0.9;
}

.todoList-div {
  margin: 20px;
}

.todoList-div ul li {
  margin-bottom: 10px;
}

.todoList-div ul li > span {
  margin: 0 5px 0 5px;
}

input[type="checkbox"] {
  border: 3px solid white;
  opacity: 0.6;
}

.todoList-div ul li > button {
  border: none;
  background-color: transparent;
}
