.header-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}

.header-div span {
  margin-right: 10px;
}

#weather img {
  filter: brightness(0) invert(1);
  width: 30px;
  height: 30px;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
